*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
    margin: auto 540px;
}

.nombre {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    color: black;
    text-align: center;
    line-height: 50px;
    float: left;
    margin: 5px;
}
.nombres{
max-width: 600px;
}
.par10{


}
.cache {
   /* visibility: hidden;*/
}

.erreur {
    color: red;
    border: 1px solid red;
}

.succes {
    color: #009527;
    background-color : #a9e9aa;
}
